
            h1{
                color:red;
               
            }
    .header{
        background-color: rgb(127, 255, 253);
        display: flex;
        justify-content: space-between;
        text-align:center;
    }        
        .menu{
            background-color: lightgreen;
        }
        .grid{
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
        .footer{
            display: flex;
            justify-content:flex-end ;
        }
p,h2{
    text-align: center;
}